* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
        "aside header header header"
        "aside main main main"
        "aside main main main";
    grid-template-columns: 200px 1fr 1fr;
   
    width: 800px;
    
    
}

.card-wrapper {
    background-color: pink;
    width: 700px;
    height: 300px;
    margin: 50px 50px;
}

main {
    grid-area: main;
}

aside {
    background-color: grey;
    height: 100vh;
    grid-area: aside;

}

.placeholder {
    background-color: rgb(215, 46, 201);
    width: 60px;
    height: 20px;
    margin: 30px auto;
}
header {
    background-color: bisque;
    height: 30px;
    width: 800px;
    grid-area: header;
    
}

.logo {
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    scroll-margin-left: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

input, .btn {
    width: 50%;
    margin: 50px;
    
}

.btn {
    width: 20%;
    margin: 50px;
}



main {
    display: flex;
    flex-direction: column;

    justify-content: center;
}
span {
    display: block;
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin-top: 40px;
}


@media only screen and (max-width: 600px) {
    
}